.hero__wrap{
    display: flex;


}
.hero__card{
    border: 5px solid white;
    height: 400px;
    background-color: lightgray;
    padding: 20px;

    display: flex;
    flex-direction: column;
    writing-mode: vertical-rl;
    flex-grow: 1;
    transition: 0.5s;
    width: 400px;
    &:hover{
        flex-grow: 3;
        .hero__text{
            display: none;
        }
h2{
    width: 100%;
    letter-spacing: 0px;
}
    }
    h2 {
        margin-right: auto;
        transition: 1s;
        margin-top: auto;
        writing-mode: horizontal-tb;
        letter-spacing: 30px;
        width: 20px;
        overflow: hidden;
        white-space: nowrap;
    }
   
}
.hero__text{
    transition: 0.5s;
}